<a href="/"><h1>Rezen</h1></a>

<h1>
  Product #<%= @product.id %> details
</h1>

<div>
  <div>
    <a href="/products">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_product_form/<%= @product.id %>">
      Edit product
    </a>
  </div>

  <div>
    <a href="/delete_product/<%= @product.id %>">
      Delete product
    </a>
  </div>
</div>

<dl>
  <dt>
    Category
  </dt>
  <dd>
    <%= @product.category %>
  </dd>

  <dt>
    Company
  </dt>
  <dd>
    <%= @product.company_id %>
  </dd>

  <dt>
    Serial no
  </dt>
  <dd>
    <%= @product.serial_no %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@product.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@product.updated_at) %> ago
  </dd>
</dl>

