<h1>
  Add a new review
</h1>

<hr>

<%= render("review_templates/validation_failures.html.erb") %>

<h2> Product </h2>
<div> <%= @product.product_name %></div>
<div> <%= @product.modelname %></div>
<br>
<form action="/insert_review_record" method="post">
  
  <div>
    <label for="review_content">
      Review content
    </label>

    <input type="text" id="review_content" name="review_content" value="<%= @review.review_content %>">
  </div>

  <div>
    <input type="hidden" name="product_id" value="<%=@product_id%>">
  </div>

  <div>
    <label for="ratings">
      Select your rating
    </label>

  <br>
  
  <div>
    <%= label_tag(:one_label, "1") %>
    <%= radio_button_tag(:ratings, "1") %>
    &nbsp;
    <%= label_tag(:two_label, "2") %>
    <%= radio_button_tag(:ratings, "2") %>
    &nbsp;
    <%= label_tag(:three_label, "3") %>
    <%= radio_button_tag(:ratings, "3") %>
    &nbsp;
    <%= label_tag(:four_label, "4") %>
    <%= radio_button_tag(:ratings, "4") %>
    &nbsp;
    <%= label_tag(:five_label, "5") %>
    <%= radio_button_tag(:ratings, "5") %>
    
  </div>


  <button>
    Create review
  </button>
</form>

<hr>

<a href="/reviews">
  Go back
</a>
