<h1>
  Review #<%= @review.id %> details
</h1>

<div>
  <div>
    <a href="/reviews">
      Go back
    </a>
  </div>

  <% if current_user && current_user.id == @review.reviewer_id %>
  <div>
    <a href="/existing_review_form/<%= @review.id %>">
      Edit review
    </a>
  </div>

  <div>
    <a href="/delete_review/<%= @review.id %>">
      Delete review
    </a>
  </div>
  <% end %>
</div>


<br>

<dl>
  <dt>
    Product
  </dt>
  <dd>
    <%= @product.product_name %>
    <br>
    <%= @product.modelname %>
  </dd>
  <dt>
    Review content
  </dt>
  <dd>
    <%= @review.review_content %>
  </dd>

  <dt>
    Ratings
  </dt>
  <dd>
    <%= @review.ratings %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.updated_at) %> ago
  </dd>
  <dt>
    Upvotes:
  </dt>
  <dd>
    <%= @upvote %>
  </dd>
  <dt>
    Downvotes:
  </dt>
  <dd>
    <%= @downvote %>
  </dd>
  
  <dd>
  <div class="row">
        <div class="col-md-2">
          <form action="/insert_vote_record_up">
            <input type="hidden" name="review_id" value="<%=@review.id%>">
            <button>Upvote</button>
          </form>
        </div>
        <div class="col-md-2">
          <form action="/insert_vote_record_down">
            <input type="hidden" name="review_id" value="<%=@review.id%>">
            <button>Downvote</button>
          </form>
        </div>
  </div>
  </dd>
  
</dl>


<div class="row">
   <div class="col-lg-8">
      <div class="text-block">
         <p class="text-primary"><i class="fa-map-marker-alt fa mr-1"></i> Brooklyn, New York</p>
         <h1>Mid-Century Modern Garden Paradise</h1>
         <p class="text-muted text-uppercase mb-4">Entire Apartment </p>
         <ul class="list-inline text-sm mb-4">
            <li class="list-inline-item mr-3"><i class="fa fa-users mr-1 text-secondary"></i> 4 guests</li>
            <li class="list-inline-item mr-3"><i class="fa fa-door-open mr-1 text-secondary"></i> 1 bedroom</li>
            <li class="list-inline-item mr-3"><i class="fa fa-bed mr-1 text-secondary"></i> 3 beds</li>
            <li class="list-inline-item mr-3"><i class="fa fa-bath mr-1 text-secondary"></i> 1 bath</li>
         </ul>
         <p class="text-muted font-weight-light">Our garden basement apartment is fully equipped with everything you need to enjoy your stay. Very comfortable for a couple but plenty of space for a small family. Close to many wonderful Brooklyn attractions and quick trip to Manhattan. </p>
         <h6 class="mb-3">The space</h6>
         <p class="text-muted font-weight-light">Welcome to Brooklyn! We are excited to share our wonderful neighborhood with you. Our modern apartment has a private entrance, fully equipped kitchen, and a very comfortable queen size bed. We are happy to accommodate additional guests with a single bed in the living room, another comfy mattress on the floor and can make arrangements for small children with a portable crib and highchair if requested. </p>
         <p class="text-muted font-weight-light">Also in the apartment:</p>
         <ul class="text-muted font-weight-light">
            <li>TV with Netflix and DirectTVNow</li>
            <li>Free WiFi</li>
            <li>Gourmet Coffee/Tea making supplies</li>
            <li>Fresh Sheets and Towels</li>
            <li>Toaster, microwave, pots and pans and basic cooking needs like salt, pepper, sugar, and olive oil.</li>
            <li>Air Conditioning to keep you cool all summer!</li>
         </ul>
         <p class="text-muted font-weight-light">The apartment is surprisingly quiet for being in the heart of a vibrant, bustling neighborhood.</p>
         <h6 class="mb-3">Interaction with guests</h6>
         <p class="text-muted font-weight-light">We live in the two floors above the garden apartment so we are usually available to answer questions. The garden apartment is separate from our living space. We are happy to provide advice on local attractions, restaurants and transportation around the city. If there's anything you need please don't hesitate to ask!</p>
      </div>
      <div class="text-block">
         <h4 class="mb-4">Amenities</h4>
         <div class="row">
            <div class="col-md-6">
               <ul class="list-unstyled text-muted">
                  <li class="mb-2"><i class="fa fa-wifi text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">Wifi</span></li>
                  <li class="mb-2"><i class="fa fa-tv text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">Cable TV</span></li>
                  <li class="mb-2"><i class="fa fa-snowflake text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">Air conditioning</span></li>
                  <li class="mb-2"><i class="fa fa-thermometer-three-quarters text-secondary w-1rem mr-3 text-center"></i> <span class="text-sm">Heating</span></li>
               </ul>
            </div>
            <div class="col-md-6">
               <ul class="list-unstyled text-muted">
                  <li class="mb-2"><i class="fa fa-bath text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">Toiletteries</span></li>
                  <li class="mb-2"><i class="fa fa-utensils text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">Equipped Kitchen</span></li>
                  <li class="mb-2"><i class="fa fa-laptop text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">Desk for work</span></li>
                  <li class="mb-2"><i class="fa fa-tshirt text-secondary w-1rem mr-3 text-center"></i><span class="text-sm">Washing machine</span></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="text-block">
         <h4 class="mb-0">Amenities alternative</h4>
         <p class="subtitle text-sm text-primary mb-4">Alternative amenities display</p>
         <ul class="list-inline">
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Wifi</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Cable TV</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Air conditioning</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Heating</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Toiletteries</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Equipped Kitchen</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Desk for work</span></li>
            <li class="list-inline-item mb-2"><span class="badge badge-pill badge-light p-3 text-muted font-weight-normal">Washing machine</span></li>
         </ul>
      </div>
      <div class="text-block">
         <div class="media">
            <img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/avatar/avatar-10.jpg" alt="Jack London" class="avatar avatar-lg mr-4">
            <div class="media-body">
               <p> <span class="text-muted text-uppercase text-sm">Hosted by </span><br><strong>Jack London</strong></p>
               <p class="text-muted text-sm mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
               <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
               <p class="text-sm"><a href="#">See Jack's 3 other listings <i class="fa fa-long-arrow-alt-right ml-2"></i></a></p>
            </div>
         </div>
      </div>
      <div class="text-block">
         <h5 class="mb-4">Listing location</h5>
         <div class="map-wrapper-300 mb-3">
            <div id="detailMap" class="h-100 leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;">
               <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-60px, 0px, 0px);">
                  <div class="leaflet-pane leaflet-tile-pane">
                     <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                        <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 19; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4823/6158.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(80px, -79px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4824/6158.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(336px, -79px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4823/6159.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(80px, 177px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4824/6159.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(336px, 177px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4822/6158.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-176px, -79px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4825/6158.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(592px, -79px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4822/6159.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-176px, 177px, 0px); opacity: 1;"><img alt="" role="presentation" src="https://maps.wikimedia.org/osm-intl/14/4825/6159.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(592px, 177px, 0px); opacity: 1;"></div>
                     </div>
                  </div>
                  <div class="leaflet-pane leaflet-shadow-pane"></div>
                  <div class="leaflet-pane leaflet-overlay-pane">
                     <svg pointer-events="none" class="leaflet-zoom-animated" width="732" height="360" viewBox="-1 -30 732 360" style="transform: translate3d(-1px, -30px, 0px);">
                        <g>
                           <path class="leaflet-interactive" stroke="#4E66F8" stroke-opacity="1" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="#8798fa" fill-opacity="0.5" fill-rule="evenodd" d="M295.91215303121135,150.28317078971304a69,69 0 1,0 138,0 a69,69 0 1,0 -138,0 "></path>
                        </g>
                     </svg>
                  </div>
                  <div class="leaflet-pane leaflet-marker-pane"><img src="img/marker.svg" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="" tabindex="0" style="margin-left: -12.5px; margin-top: -18.75px; width: 25px; height: 37.5px; transform: translate3d(861495px, -181769px, 0px); z-index: -181769;"></div>
                  <div class="leaflet-pane leaflet-tooltip-pane"></div>
                  <div class="leaflet-pane leaflet-popup-pane"></div>
                  <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(1.23497e+06px, 1.57668e+06px, 0px) scale(8192);"></div>
               </div>
               <div class="leaflet-control-container">
                  <div class="leaflet-top leaflet-left">
                     <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a></div>
                  </div>
                  <div class="leaflet-top leaflet-right"></div>
                  <div class="leaflet-bottom leaflet-left"></div>
                  <div class="leaflet-bottom leaflet-right">
                     <div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia maps</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="text-block">
         <h5 class="mb-4">Gallery</h5>
         <div class="row gallery mb-3 ml-n1 mr-n1">
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1426122402199-be02db90eb90.jpg" data-fancybox="gallery" title="Our street"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1426122402199-be02db90eb90.jpg" alt="..." class="img-fluid"></a></div>
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1512917774080-9991f1c4c750.jpg" data-fancybox="gallery" title="Outside"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="..." class="img-fluid"></a></div>
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1494526585095-c41746248156.jpg" data-fancybox="gallery" title="Rear entrance"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1494526585095-c41746248156.jpg" alt="..." class="img-fluid"></a></div>
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1484154218962-a197022b5858.jpg" data-fancybox="gallery" title="Kitchen"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1484154218962-a197022b5858.jpg" alt="..." class="img-fluid"></a></div>
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1522771739844-6a9f6d5f14af.jpg" data-fancybox="gallery" title="Bedroom"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1522771739844-6a9f6d5f14af.jpg" alt="..." class="img-fluid"></a></div>
            <div class="col-lg-4 col-6 px-1 mb-2"><a href="img/photo/photo-1488805990569-3c9e1d76d51c.jpg" data-fancybox="gallery" title="Bedroom"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/photo/photo-1488805990569-3c9e1d76d51c.jpg" alt="..." class="img-fluid"></a></div>
         </div>
      </div>
      <div class="text-block">
         <p class="subtitle text-sm text-primary">Reviews    </p>
         <h5 class="mb-4">Listing Reviews </h5>
         <div class="media d-block d-sm-flex review">
            <div class="text-md-center mr-4 mr-xl-5"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/avatar/avatar-8.jpg" alt="Padmé Amidala" class="d-block avatar avatar-xl p-2 mb-2"><span class="text-uppercase text-muted text-sm">Dec 2018</span></div>
            <div class="media-body">
               <h6 class="mt-2 mb-1">Padmé Amidala</h6>
               <div class="mb-2"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i>
               </div>
               <p class="text-muted text-sm">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections     </p>
            </div>
         </div>
         <div class="media d-block d-sm-flex review">
            <div class="text-md-center mr-4 mr-xl-5"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/avatar/avatar-2.jpg" alt="Luke Skywalker" class="d-block avatar avatar-xl p-2 mb-2"><span class="text-uppercase text-muted text-sm">Dec 2018</span></div>
            <div class="media-body">
               <h6 class="mt-2 mb-1">Luke Skywalker</h6>
               <div class="mb-2"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200"></i>
               </div>
               <p class="text-muted text-sm">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream.     </p>
            </div>
         </div>
         <div class="media d-block d-sm-flex review">
            <div class="text-md-center mr-4 mr-xl-5"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/avatar/avatar-3.jpg" alt="Princess Leia" class="d-block avatar avatar-xl p-2 mb-2"><span class="text-uppercase text-muted text-sm">Dec 2018</span></div>
            <div class="media-body">
               <h6 class="mt-2 mb-1">Princess Leia</h6>
               <div class="mb-2"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-gray-200"></i><i class="fa fa-xs fa-star text-gray-200"></i>
               </div>
               <p class="text-muted text-sm">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.     </p>
            </div>
         </div>
         <div class="media d-block d-sm-flex review">
            <div class="text-md-center mr-4 mr-xl-5"><img src="https://d19m59y37dris4.cloudfront.net/directory/1-2/img/avatar/avatar-4.jpg" alt="Jabba Hut" class="d-block avatar avatar-xl p-2 mb-2"><span class="text-uppercase text-muted text-sm">Dec 2018</span></div>
            <div class="media-body">
               <h6 class="mt-2 mb-1">Jabba Hut</h6>
               <div class="mb-2"><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i><i class="fa fa-xs fa-star text-primary"></i>
               </div>
               <p class="text-muted text-sm">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.     </p>
            </div>
         </div>
         <div class="py-5">
            <button type="button" data-toggle="collapse" data-target="#leaveReview" aria-expanded="false" aria-controls="leaveReview" class="btn btn-outline-primary">Leave a review</button>
            <div id="leaveReview" class="collapse mt-4">
               <h5 class="mb-4">Leave a review</h5>
               <form id="contact-form" method="get" action="#" class="form">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="name" class="form-label">Your name *</label>
                           <input type="text" name="name" id="name" placeholder="Enter your name" required="required" class="form-control">
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                           <label for="rating" class="form-label">Your rating *</label>
                           <select name="rating" id="rating" class="custom-select focus-shadow-0">
                              <option value="5">★★★★★ (5/5)</option>
                              <option value="4">★★★★☆ (4/5)</option>
                              <option value="3">★★★☆☆ (3/5)</option>
                              <option value="2">★★☆☆☆ (2/5)</option>
                              <option value="1">★☆☆☆☆ (1/5)</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="email" class="form-label">Your email *</label>
                     <input type="email" name="email" id="email" placeholder="Enter your  email" required="required" class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="review" class="form-label">Review text *</label>
                     <textarea rows="4" name="review" id="review" placeholder="Enter your review" required="required" class="form-control"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Post review</button>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-4">
      <div style="top: 100px;" class="p-4 shadow ml-lg-4 rounded sticky-top">
         <p class="text-muted"><span class="text-primary h2">$120</span> per night</p>
         <hr class="my-4">
         <form id="booking-form" method="get" action="#" autocomplete="off" class="form">
            <div class="form-group">
               <label for="bookingDate" class="form-label">Your stay *</label>
               <div class="datepicker-container datepicker-container-right">
                  <input type="text" name="bookingDate" id="bookingDate" placeholder="Choose your dates" required="required" class="form-control">
                  <div class="date-picker-wrapper no-shortcuts inline-wrapper no-gap two-months" unselectable="on" style="display: none; user-select: none;">
                     <div class="drp_top-bar">
                        <div class="normal-top"><span class="selection-top">Selected: </span> <b class="start-day">...</b> <span class="separator-day"> to </span> <b class="end-day">...</b> <i class="selected-days">(<span class="selected-days-num">3</span> Days)</i></div>
                        <div class="error-top">error</div>
                        <div class="default-top">Please select a date range</div>
                        <input type="button" class="apply-btn disabled hide btn btn-primary" value="Close">
                     </div>
                     <div class="month-wrapper" style="width: 427px;">
                        <table class="month1" cellspacing="0" border="0" cellpadding="0">
                           <thead>
                              <tr class="caption">
                                 <th>                   <span class="prev">&lt;                   </span>               </th>
                                 <th colspan="5" class="month-name">
                                    <div class="month-element">july</div>
                                    <div class="month-element">2019</div>
                                 </th>
                                 <th><span class="next">&gt;</span>               </th>
                              </tr>
                              <tr class="week-name">
                                 <th>su</th>
                                 <th>mo</th>
                                 <th>tu</th>
                                 <th>we</th>
                                 <th>th</th>
                                 <th>fr</th>
                                 <th>sa</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>
                                    <div time="1561908864718" data-tooltip="" class="day lastMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">30</span>                            
                                          <div class="day-subtitle">$728</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1561995264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">1</span>                            
                                          <div class="day-subtitle">$70</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562081664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">2</span>                            
                                          <div class="day-subtitle">$249</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562168064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">3</span>                            
                                          <div class="day-subtitle">$298</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562254464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">4</span>                            
                                          <div class="day-subtitle">$533</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562340864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">5</span>                            
                                          <div class="day-subtitle">$932</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562427264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">6</span>                            
                                          <div class="day-subtitle">$933</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1562513664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">7</span>                            
                                          <div class="day-subtitle">$193</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562600064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">8</span>                            
                                          <div class="day-subtitle">$755</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562686464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">9</span>                            
                                          <div class="day-subtitle">$156</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562772864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">10</span>                            
                                          <div class="day-subtitle">$616</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562859264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">11</span>                            
                                          <div class="day-subtitle">$785</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1562945664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">12</span>                            
                                          <div class="day-subtitle">$29</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563032064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">13</span>                            
                                          <div class="day-subtitle">$607</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1563118464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">14</span>                            
                                          <div class="day-subtitle">$919</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563204864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">15</span>                            
                                          <div class="day-subtitle">$958</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563291264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">16</span>                            
                                          <div class="day-subtitle">$828</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563377664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">17</span>                            
                                          <div class="day-subtitle">$887</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563464064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">18</span>                            
                                          <div class="day-subtitle">$16</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563550464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">19</span>                            
                                          <div class="day-subtitle">$519</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563636864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">20</span>                            
                                          <div class="day-subtitle">$744</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1563723264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">21</span>                            
                                          <div class="day-subtitle">$663</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563809664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">22</span>                            
                                          <div class="day-subtitle">$654</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563896064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">23</span>                            
                                          <div class="day-subtitle">$281</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1563982464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">24</span>                            
                                          <div class="day-subtitle">$293</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564068864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">25</span>                            
                                          <div class="day-subtitle">$10</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564155264718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">26</span>                            
                                          <div class="day-subtitle">$966</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564241664718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">27</span>                            
                                          <div class="day-subtitle">$421</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1564328064718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">28</span>                            
                                          <div class="day-subtitle">$236</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564414464718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">29</span>                            
                                          <div class="day-subtitle">$333</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564500864718" data-tooltip="" class="day toMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">30</span>                            
                                          <div class="day-subtitle">$500</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564587264718" data-tooltip="" class="day toMonth  valid real-today">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">31</span>                            
                                          <div class="day-subtitle">$805</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564673664718" data-tooltip="" class="day nextMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">1</span>                            
                                          <div class="day-subtitle">$413</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564760064718" data-tooltip="" class="day nextMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">2</span>                            
                                          <div class="day-subtitle">$55</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564846464718" data-tooltip="Booked" class="day nextMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">3</span>                            
                                          <div class="day-subtitle">$407</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="gap" style="visibility: hidden; height: 10px;">
                           <div class="gap-top-mask"></div>
                           <div class="gap-bottom-mask"></div>
                           <div class="gap-lines">
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                              <div class="gap-line">
                                 <div class="gap-1"></div>
                                 <div class="gap-2"></div>
                                 <div class="gap-3"></div>
                              </div>
                           </div>
                        </div>
                        <table class="month2" cellspacing="0" border="0" cellpadding="0">
                           <thead>
                              <tr class="caption">
                                 <th><span class="prev">&lt;</span>       </th>
                                 <th colspan="5" class="month-name">
                                    <div class="month-element">august</div>
                                    <div class="month-element">2019</div>
                                 </th>
                                 <th>           <span class="next">&gt;</span>       </th>
                              </tr>
                              <tr class="week-name">
                                 <th>su</th>
                                 <th>mo</th>
                                 <th>tu</th>
                                 <th>we</th>
                                 <th>th</th>
                                 <th>fr</th>
                                 <th>sa</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>
                                    <div time="1564328064718" data-tooltip="" class="day lastMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">28</span>                            
                                          <div class="day-subtitle">$6</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564414464718" data-tooltip="" class="day lastMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">29</span>                            
                                          <div class="day-subtitle">$51</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564500864718" data-tooltip="" class="day lastMonth  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">30</span>                            
                                          <div class="day-subtitle">$977</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564587264718" data-tooltip="" class="day lastMonth  valid real-today">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">31</span>                            
                                          <div class="day-subtitle">$3</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564673664718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">1</span>                            
                                          <div class="day-subtitle">$879</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564760064718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">2</span>                            
                                          <div class="day-subtitle">$308</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1564846464718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">3</span>                            
                                          <div class="day-subtitle">$704</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1564932864718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">4</span>                            
                                          <div class="day-subtitle">$765</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565019264718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">5</span>                            
                                          <div class="day-subtitle">$912</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565105664718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">6</span>                            
                                          <div class="day-subtitle">$716</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565192064718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">7</span>                            
                                          <div class="day-subtitle">$489</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565278464718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">8</span>                            
                                          <div class="day-subtitle">$607</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565364864718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">9</span>                            
                                          <div class="day-subtitle">$347</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565451264718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">10</span>                            
                                          <div class="day-subtitle">$609</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1565537664718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">11</span>                            
                                          <div class="day-subtitle">$903</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565624064718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">12</span>                            
                                          <div class="day-subtitle">$970</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565710464718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">13</span>                            
                                          <div class="day-subtitle">$767</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565796864718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">14</span>                            
                                          <div class="day-subtitle">$616</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565883264718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">15</span>                            
                                          <div class="day-subtitle">$603</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1565969664718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">16</span>                            
                                          <div class="day-subtitle">$571</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566056064718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">17</span>                            
                                          <div class="day-subtitle">$530</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1566142464718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">18</span>                            
                                          <div class="day-subtitle">$611</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566228864718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">19</span>                            
                                          <div class="day-subtitle">$527</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566315264718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">20</span>                            
                                          <div class="day-subtitle">$811</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566401664718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">21</span>                            
                                          <div class="day-subtitle">$164</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566488064718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">22</span>                            
                                          <div class="day-subtitle">$212</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566574464718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">23</span>                            
                                          <div class="day-subtitle">$690</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566660864718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">24</span>                            
                                          <div class="day-subtitle">$871</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <div time="1566747264718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">25</span>                            
                                          <div class="day-subtitle">$381</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566833664718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">26</span>                            
                                          <div class="day-subtitle">$654</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1566920064718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">27</span>                            
                                          <div class="day-subtitle">$45</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1567006464718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">28</span>                            
                                          <div class="day-subtitle">$250</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1567092864718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">29</span>                            
                                          <div class="day-subtitle">$994</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1567179264718" data-tooltip="" class="day toMonth  valid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">30</span>                            
                                          <div class="day-subtitle">$348</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td>
                                    <div time="1567265664718" data-tooltip="Booked" class="day toMonth  has-tooltip  invalid ">
                                       <div style="padding:0 5px;">
                                          <span style="font-weight:bold">31</span>                            
                                          <div class="day-subtitle">$370</div>
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="dp-clearfix"></div>
                        <div class="time">
                           <div class="time1"></div>
                           <div class="time2"></div>
                        </div>
                        <div class="dp-clearfix"></div>
                     </div>
                     <div class="footer"></div>
                     <div class="date-range-length-tip"></div>
                  </div>
               </div>
            </div>
            <div class="form-group mb-4">
               <label for="guests" class="form-label">Guests *</label>
               <select name="guests" id="guests" class="form-control">
                  <option value="1">1 Guest</option>
                  <option value="2">2 Guests</option>
                  <option value="3">3 Guests</option>
                  <option value="4">4 Guests</option>
                  <option value="5">5 Guests</option>
               </select>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block">Book your stay</button>
            </div>
         </form>
         <p class="text-muted text-sm text-center">Some additional text can be also placed here.</p>
         <hr class="my-4">
         <div class="text-center">
            <p> <a href="#" class="text-secondary text-sm"> <i class="fa fa-heart"></i> Bookmark This Listing</a></p>
            <p class="text-muted text-sm">79 people bookmarked this place </p>
         </div>
      </div>
   </div>
</div>