<h1>
  Review #<%= @review.id %> details
</h1>

<div>
  <div>
    <a href="/reviews">
      Go back
    </a>
  </div>

  <% if current_user && current_user.id == @review.reviewer_id %>
  <div>
    <a href="/existing_review_form/<%= @review.id %>">
      Edit review
    </a>
  </div>

  <div>
    <a href="/delete_review/<%= @review.id %>">
      Delete review
    </a>
  </div>
  <% end %>
</div>


<br>

<dl>
  <dt>
    Product
  </dt>
  <dd>
    <%= @product.product_name %>
    <br>
    <%= @product.modelname %>
  </dd>
  <dt>
    Review content
  </dt>
  <dd>
    <%= @review.review_content %>
  </dd>

  <dt>
    Ratings
  </dt>
  <dd>
    <%= @review.ratings %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@review.updated_at) %> ago
  </dd>
  <dt>
    Upvotes:
  </dt>
  <dd>
    <%= @upvote %>
  </dd>
  <dt>
    Downvotes:
  </dt>
  <dd>
    <%= @downvote %>
  </dd>
  
  <dd>
  <div class="row">
        <div class="col-md-2">
          <form action="/insert_vote_record_up">
            <input type="hidden" name="review_id" value="<%=@review.id%>">
            <button>Upvote</button>
          </form>
        </div>
        <div class="col-md-2">
          <form action="/insert_vote_record_down">
            <input type="hidden" name="review_id" value="<%=@review.id%>">
            <button>Downvote</button>
          </form>
        </div>
  </div>
  </dd>
  
</dl>

