<h1>
  Compensations by platform list
</h1>

<a href="/new_compensations_by_platform_form">
  Add a new compensations by platform
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Compensation amount
    </th>

    <th>
      Review
    </th>

    <th>
      Compensated
    </th>

    <th>
      Notes
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @compensations_by_platforms.each do |compensations_by_platform| %>
  <tr>
    <td>
      <%= compensations_by_platform.id %>
    </td>

    <td>
      <%= compensations_by_platform.compensation_amount %>
    </td>

    <td>
      <%= compensations_by_platform.review_id %>
    </td>

    <td>
      <%= compensations_by_platform.compensated %>
    </td>

    <td>
      <%= compensations_by_platform.notes %>
    </td>

    <td>
      <%= time_ago_in_words(compensations_by_platform.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(compensations_by_platform.updated_at) %> ago
    </td>

    <td>
      <a href="/compensations_by_platforms/<%= compensations_by_platform.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
