<h1>Rezen</h1>

<div>
    <h2>Search</h2>
    <%= search_form_for @q, :url => "/products_search" do |f| %>
        <p class="lead">Narrow results:</p>
        <div class="form-group">
            <%= f.label :product_product_name_cont %>
            <%= f.search_field :product_name_cont, :class => "form-control", :placeholder => "Enter a product" %>
        </div>
        
        <%= f.submit :class => "btn btn-primary btn-block" %>
    <% end %>
    
</div>

<div>
    
    <a href="/write_selectproduct">Write a review</a>
</div>

<table>
    <tr>
        <th>Product</th>
        <th>Comment</th>
        <th>Ratings</th>
        <th>Upvote</th>
    </tr>
    
    <% @reviews.each do |review| %>
    <tr>
        <td>
            <%= Product.where( {:id => review.product_id}).first.product_name %>
        </td>
        <td>
            <a href="/reviews/<%= review.id %>"><%= review.review_content %></a>
        </td>
        <td>
            <%= review.ratings %>
        </td>
        <td>
            <%= review.count_votes %>
        </td>
    </tr>
    <% end %>
    <%= paginate @reviews %>
    <%= page_entries_info @reviews %>
</table>